<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!!!!</h1>




  <body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="user"><a [routerLink]="['user']">Please Register</a></li>
        <li class="posts"><a [routerLink]="['posts']">Posts</a></li>
        <li class="tags"><a [routerLink]="['tags']">Tags</a></li>
        <li class="createPost"><a [routerLink]="['createPost']">Create Post</a></li>

      </ul>
    </div>
  </header>
  </body>

  <router-outlet></router-outlet>

  <!-- <app-user></app-user> -->
  <!-- <app-tag></app-tag> -->
</div>
