<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1>
   {{ title }}!!!!
  </h1>



  <!--<p>-->
    <!--<a [routerLink]="['user']">Please Register</a>-->
  <!--</p>-->



  <!--<p>-->
    <!--<a [routerLink]="['posts']">Posts</a>-->
  <!--</p>-->




  <body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="user"><a [routerLink]="['user']">Please Register</a></li>
        <li class="posts"><a [routerLink]="['posts']">Posts</a></li>
        <li class="tags"><a [routerLink]="['tags']">Tags</a></li>
        <li class="Aboutus"><a [routerLink]="['AboutUs']">About us</a></li>

      </ul>
    </div>
  </header>
  </body>



  <router-outlet></router-outlet>



</div>
