

<div class="row" style="width: 50%; margin-left:auto; margin-right:auto;">
  <div class="col-lg-3"> <h1>Cristina M.</h1></div>
  <div class="col-lg-3"> <h1>Marci B.</h1></div>
  <div class="col-lg-3"> <h1>Shuchi J.</h1></div>
  <div class="col-lg-3"> <h1>Thao N.</h1></div>
</div>

<blockquote class="blockquote">
    <p class="mb-0"> “It’s not enough to be aware of the possibilities. You have to believe that your goals are attainable. First, can you see yourself, picture yourself as an engineer? I strongly believe that belief in yourself stems from belief in your role models.”</p>
    <footer class="blockquote-footer">Alisha Ramos at <cite title="Source Title">Vox Media</cite></footer>
</blockquote>
