
<div style="margin-bottom: 10px;margin-top: 10px ">

<div class="row" style="width: 80%; margin-left:auto; margin-right:auto;">
  <div class="col-lg-3"><hr class="my-4" /><h3>Cristina M.</h3><hr class="my-4" />
  <p>Has hyper-extendible elbows!</p>
</div>
  <div class="col-lg-3"><hr class="my-4" /><h3>Marci B.</h3><hr class="my-4" />
    <p>Used to live in Canada and saw a cougar once!</p>
  </div>
  <div class="col-lg-3"><hr class="my-4" /><h3>Thao N.</h3><hr class="my-4" />
    <p>Took Aikido classes and is currently taking Aerial Yoga</p>
    </div>
  <div class="col-lg-3"><hr class="my-4" /><h3>Shuchi J.</h3><hr class="my-4" />
    <p>Loves dancing and action films!</p>
  </div>
</div>

<div>
    <img src="./assets/20190423_202549.jpg" alt="ZipZapZop Girls" width="892" height="512">
</div>

<blockquote class="blockquote" style="width: 40%; margin-top:5%; margin-left:auto; margin-right:auto;">
    <p class="mb-0"> “It’s not enough to be aware of the possibilities. You have to believe that your goals are attainable. First, can you see yourself, picture yourself as an engineer? I strongly believe that belief in yourself stems from belief in your role models.”</p>
    <footer class="blockquote-footer">Alisha Ramos at <cite title="Source Title">Vox Media</cite></footer>
</blockquote>
</div>
