<<<<<<< HEAD
=======


textarea {
  width: 50px;
  height: 150px;
}

.post_body {
    width: 80%;
}

textarea, input, .form-control[_ngcontent-c1] {
    width: 80%;
}

>>>>>>> 46bfcfcc8642c909e08db6dc6c6a466f8cfbeab4
