<<<<<<< HEAD
=======


textarea {
  width: 50px;
  height: 150px;
}

.post_body {
    width: 80%;
}

textarea, input, .form-control[_ngcontent-c1] {
    width: 80%;
}


>>>>>>> 89c592b3519037669425829e60a7fc47c3e5007b
