<h3>Add Tags to Post</h3>

<!-- <div class="grid grid-pad">
  <a *ngFor="let tag of tags">

    <button class="btn btn-info" (click)="onChange(tag.id, 1)">
      {{ tag.keyWord }} - Add Tag to Post
    </button>
 
  </a>
</div> -->

<div class="btn-group-horizontal" data-toggle="buttons">
  <a *ngFor="let tag of tags">
    <button
      type="button"
      style="margin: .4em .5em"
      class="btn btn-secondary active"
      (click)="onChange(tag.id)"
      aria-pressed="true"
    >
      {{ tag.keyWord }}
    </button>
  </a>
</div>
